<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Rest API Test Suite" verbose="1" parallel="tests"
	thread-count="1">

	<listeners>
		<!-- <listener class-name="com.qa.api.gorest.listeners.ExtentReportListener" />  -->
	   <!-- <listener class-name="com.qa.api.gorest.listeners.TestAllureListener" /> -->
	    <listener class-name="com.qa.api.gorest.listeners.TesultsListener" />
	</listeners>

	<test name="Rest API regression Test" >
		<classes>
			<class name="com.qa.api.gorest.tests.CreateUserTest" />
			<class name="com.qa.api.gorest.tests.GetUserTest" />
			<class name="com.qa.api.gorest.tests.UpdateUserTest" />
			<class name="com.qa.api.gorest.tests.DeleteUserTest" />
			<class name="com.qa.api.gorest.tests.Imgur_AccountBlockStatus_Test" />


		</classes>
	</test>
</suite>